build
.venv
__pycache__
*.pyc
*.egg-info
.ipynb_checkpoints
outputs/
pairs/
hloc/habitat/weights/
datasets/*
!datasets/sacre_coeur/
datasets/sacre_coeur/query
aaa.ply
bbb.ply
colmap.ply
#  pipeline_Colo_loc.ipynb
#  pipeline_Guro_loc.ipynb
#  pipeline_Guro_sfm.ipynb
